.page-html {
    height: 100%;
    background-color: #background-colors[main];
}

.page-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px;
    width: 1440px;
    height: 100%;
    background-color: #background-colors[primary];
}